<<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 14.05.2016, 12:18</p>
            <h2><a href="">My first post</a></h2>
            <p>Adventures of comp sci, weekend well spent coding with beautiful ladies djangogirlscpt</p>
        </div>

        <div>
            <p>published: 14.05.2016, 12:18</p>
            <h2><a href="">My second post</a></h2>
            <p>I had tons of fun wow comp sci is beautiful</p>
        </div>
    </body>
</html>
